.places__content {
    margin: 0;
    padding: 0;
    max-width: 320px;
}

@media screen and (min-width: 425px) {
    .places__content {
        max-width: 425px;
    }
}

@media screen and (min-width: 652px) {
    .places__content {
        max-width: 608px;
    }
}


@media screen and (min-width: 768px) {
    .places__content {
        display: flex;
        flex-direction: row;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .places__content {
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .places__content {
        max-width: 984px;
    }
}



