<<<<<<< HEAD
.intro__item {
=======
.intro__list_item {

>>>>>>> ad887a498e115399da8de961036555b1057c582f
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
color: #FFFFFF;
margin: 0;
<<<<<<< HEAD
padding: 0;
=======

>>>>>>> ad887a498e115399da8de961036555b1057c582f
}


