.places__container {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .places__container {
     display: flex;
     align-items: flex-end;
     flex-direction: row;
     justify-content: space-between;

    }

}

@media screen and (min-width: 1024px) {
    .places__container {
    padding: 5rem 3rem 0 3rem;

    }

}

@media screen and (min-width: 1280px) {
    .places__container {
    padding: 5rem 9.25rem 0 9.25rem;

    }

}