.places__container {
    margin: 0;
    padding: 0 0 0 16px;
}

@media screen and (min-width: 768px) {
    .places__container {
     display: grid;
     grid-template-columns: repeat(2, 346px);
     gap: 28px;
     padding: 0 0 48px 0;
     align-items: end;
     
    }
}

@media screen and (min-width: 1024px) {
    .places__container {
     grid-template-columns: repeat(2, 448px);
     gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .places__container {
     grid-template-columns: repeat(2, 472px);
     gap: 40px;
    }
}


