.footer__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
<<<<<<< HEAD
    margin: 0;
    padding: 0;
}

=======
    margin-top: 2rem;

}

.footer__link:first-child {
    margin-top: 0;
}

.footer__link:last-child {
    margin-bottom: 3rem;
}
>>>>>>> ad887a498e115399da8de961036555b1057c582f

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
<<<<<<< HEAD
    }
}
=======
        margin-top: 0;
        margin-bottom: 0;


    }

    .footer__link:last-child {
        margin-bottom: 0;
    }

}
>>>>>>> ad887a498e115399da8de961036555b1057c582f
