.cover {
    background: url(/images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: 100%;
    z-index: 1;
    min-height: 200px;
}

.cover::after {
    content: "";
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.cover:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 425px) {
    .cover {
        min-height: 280px;
    }
}

@media screen and (min-width: 652px) {
      .cover {
        min-height: 420px;
      }
}


@media screen and (min-width: 768px) {
    .cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        min-height: 740px;
    }
}