@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__logo-pic/header__logo-pic.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/intro/__item/intro__item.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__url-heading/places__url-heading.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__links/places__links.css);
@import url(../blocks/places/__content/places__content.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__container/places__container.css);
@import url(../blocks/places/__text/places__text.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/link/link.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/ol.css);
@import url(../blocks/page__container.css);
@import url(../blocks/lead/__pic/lead__pic.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/page/__container2/page__container2.css);
@import url(../blocks/page/__container3/page__container3.css);
@import url(../blocks/page/__container4/page__container4.css);
@import url(../blocks/page/__container5/page__container5.css);
@import url(../blocks/page/__container6/page__container6.css);
@import url(../blocks/page/__container7/page__container7.css);


    


@font-face {
    font-family: "Inter";
    src: local("Inter-Black"),
    url(../vendor/fonts/Inter/Inter-Black.svg) format("svg"),
    url(../vendor/fonts/Inter/Inter-Black.woff) format("woff"),
    url(../vendor/fonts/Inter/Inter-Black.woff2) format("woff2");
    font-weight: 900;
    color: #FFFFFF;
    }

@font-face {
    font-family: "Inter";
    src: local("Inter-Bold"),
    url(../vendor/fonts/Inter/Inter-Bold.svg) format("svg"),
    url(../vendor/fonts/Inter/Inter-Bold.woff) format("woff"),
    url(../vendor/fonts/Inter/Inter-Bold.woff2) format("woff2");
    font-weight: 700;
    color: #FFFFFF;
}

@font-face {
    font-family: "Inter";
    src: local("Inter-Regular"),
    url(../vendor/fonts/Inter/Inter-Regular.svg) format("svg"),
    url(../vendor/fonts/Inter/Inter-Regular.woff) format("woff"),
    url(../vendor/fonts/Inter/Inter-Regular.woff2) format("woff2");
    font-weight: 400;
    color: #FFFFFF;
}