.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    position: relative;
    z-index: 10;
<<<<<<< HEAD
    padding: 33px 16px 16px 16px;
    margin: 0;
    color: #FFFFFF;
=======
    padding: 33px 1rem 1rem 1rem;
    margin: 0;
    color: #FFFFFF;

>>>>>>> ad887a498e115399da8de961036555b1057c582f
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
<<<<<<< HEAD
        padding: 115px 104px 0 104px;
    }
=======
        padding: 115px 6.5rem 0 6.5rem;
        margin: 0;
       

    }

>>>>>>> ad887a498e115399da8de961036555b1057c582f
}

@media screen and (min-width: 1024px) {
    .cover__title {
<<<<<<< HEAD
        padding: 195px 232px 0 232px;
    }
=======
        padding: 195px 14.5rem 0 14.5rem;
        margin: 0;
       

    }

>>>>>>> ad887a498e115399da8de961036555b1057c582f
}

@media screen and (min-width: 1280px) {
    .cover__title {
<<<<<<< HEAD
        padding: 245px 312px 0 312px;
    }
=======
        padding: 245px 19.5rem 0 19.5rem;
        margin: 0;
        width: 560px;
       

    }

>>>>>>> ad887a498e115399da8de961036555b1057c582f
}