.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    position: relative;
    padding: 33px 16px 16px 16px;
    margin: 0;
    color: #FFFFFF;
    z-index: 2;
}

@media screen and (min-width: 598px) {
    .cover__title {
        font-size: 58px;
        line-height: 62px;
        padding: 100px 90px 0 90px;
    }
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        padding: 115px 104px 0 104px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__title {
        padding: 195px 232px 0 232px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        padding: 245px 312px 0 312px;
    }
}