.footer {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 48px;
=======
    margin: 0;
>>>>>>> ad887a498e115399da8de961036555b1057c582f
}

@media screen and (min-width: 768px) {
    .footer {
<<<<<<< HEAD
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        gap: 0;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        justify-content: space-between;
    }
}

=======
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }

}
>>>>>>> ad887a498e115399da8de961036555b1057c582f
